/* start from here */
body {
    background-color: rgb(12, 15, 42);
    background-image: url('assets/isitehole-web-design-agency-portfolio-isitehole.com1.jpg'),linear-gradient(180deg,#2b87da 0%,#29c4a9 100%) !important;
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    color: rgb(240, 240, 240);
    font-family: sans-serif;
    line-height: 1.6;
    word-spacing: 1px;
    letter-spacing: .5px;
    max-width: 850px;
    width: 100%;
    margin: auto;
    filter: brightness(102%) contrast(110%);
}

h3 {
    border: 1px solid cyan;
    padding: 5px;
    box-shadow: 0px 0px 9px cyan;
    transition: 0.4s;
}
h3:hover {
    transform: scale(1.1);
}

p {
    background: rgb(7, 34, 70);
    padding: 5px;
    border-radius: 3px;
    letter-spacing: 1px;
    line-height: 1.8;
    transition: 0.5s;
}
p:hover {
    transform: scale(1.2);
}

span {
    /* background: linear-gradient(360deg, rgba(23, 223, 190, 0.794), rgba(32, 146, 240, 0.781)); */
    padding: 1px 5px 3px;
    border-radius: 3px;
    box-shadow: inset 0px 0px 15px rgb(0, 132, 255);
}
h3 span {
    color: rgb(0, 200, 255);
    box-shadow: none;
    text-shadow: 0px 0px 12px cyan;
}